<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.program.typingpractice.mapper.SentenceMapper">

    <select id="getRandomSentence" resultType="com.program.typingpractice.model.Sentence">
        SELECT * FROM sentences ORDER BY RAND() LIMIT 1
    </select>

    <select id="getAllSentences" resultType="com.program.typingpractice.model.Sentence">
        SELECT * FROM sentences
    </select>

    <insert id="insertSentence" parameterType="com.program.typingpractice.model.Sentence">
        INSERT INTO sentences (content) VALUES (#{content})
    </insert>

    <update id="updateSentence" parameterType="com.program.typingpractice.model.Sentence">
        UPDATE sentences SET content = #{content} WHERE id = #{id}
    </update>

    <delete id="deleteSentence" parameterType="int">
        DELETE FROM sentences WHERE id = #{id}
    </delete>

</mapper>
